@charset "UTF-8";

body {
	margin: 35px;

	font-family: 'Sen', sans-serif;
	font-weight:400;
	color:#C11723;
	font-size: 18px;
	background-color: #fef5e0;
	background-image: url("/img/arches.png");
}

h1 {
	font-family: 'Climate Crisis', cursive;
	color: #C11723;
}
h2 {
	font-family: 'Bebas Neue', cursive;
	color: #C11723;
}
a {
	color: #C11723;
}
a:hover {
	text-decoration: none;
	color:#FCAE1B;
}
.card {
	border: 2px solid #FCAE1B;
	background-color:#FEF5E0;
	border-radius: 15px;
}
.btn {
	background-color: #FCAE1B;
	border:2px solid #FCAE1B;
	color:#960f18;
}
.btn:hover {
	border:2px solid #FCAE1B;
	color:#C11723;
}
tr {
	color:#C11723;
	border-color:#FCAE1B;
}


#header-row {
	border-radius: 20px;
	background-color: #FED285;
	color: #C11723;
}
hr {
	margin: 0px 10px;
	color: rgba(193, 23, 35, 1);
}